---
import { url } from '../lib/url';
---

<aside class="pont" data-dbg="pont">
  <p class="pont-text">
    Si ce texte nomme quelque chose que vous vivez en ce moment,
    l’accompagnement est peut-être l’espace pour le regarder de plus près.
  </p>
  <a class="pont-link" href={url('/accompagnement')}
    >Découvrir l’accompagnement</a
  >
</aside>
